*.class

# Package Files #
*.jar
*.war
*.ear

# Build #
build/
dist/

# Private #
nbproject/
setup/
build.xml
README.md

# Original Resource #
origin/

# MyEclipse config#
.myeclips/
.settings/
.classpath
.mymetadata
.project

# Lib #
WebRoot/WEB-INF/lib/
